footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav {
  background-color: var(--primary-colour);
  color: var(--primary-font-color);
}

nav button {
  background-color: transparent !important;
  color: var(--primary-font-color) !important;
  border: none !important;
}

footer {
  background-color: var(--tertiary-colour);
  color: var(--white);
  z-index: 2 !important;
}

.footer-nav-signature {
  font-size: 13px;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
}

.footer-nav-signature a {
  color: var(--primary-colour);
  font-weight: bold;
  text-decoration: none;
}

#welcomeMessage {
  letter-spacing: 3px;
  margin: 0px;
  padding: 5px 15px;
}

#metricButton {
  font-weight: bold;
  margin: 0px;
  padding: 5px 15px;
}

#metricButton:hover {
  font-weight: normal;
}
