:root {
  /* Main colour palette*/
  --white: #fffffe;
  --primary-colour: #bae8e8;
  --secondary-colour: #ffd803;
  --tertiary-colour: #272343;

  /* Font colour palette */
  --primary-font-color: black;

  /* Button colour palette */
  --primary-button-colour: #ffd803;
  --secondary-button-color: #ffd803;

  /* Fonts */
  --font-family: "Open Sans", sans-serif;

  /* Border */
  --border-radius: 10px;
}

body {
  /* Set the margin to 0 otherwise a border is added */
  margin: 0;
}

.App {
  background-color: var(--white);
  font-family: sans-serif;
  text-align: center;
}

#Main {
  margin: 100px auto 120px auto;
}

.bold {
  font-weight: bold;
}
