/* Anything smaller than a 'large' screen size */
@media (max-width: 992px) {
}

/* Anything smaller than a 'medium' screen size */
@media (max-width: 768px) {
  #day1,
  #day2,
  #day3,
  #day4,
  #day5,
  #day6 {
    border-radius: 0;
  }

  #day1 {
    border-top-left-radius: var(--border-radius);
  }

  #day3 {
    border-top-right-radius: var(--border-radius);
  }

  #day4 {
    border-bottom-left-radius: var(--border-radius);
  }

  #day6 {
    border-bottom-right-radius: var(--border-radius);
  }
}

/* Anything smaller than a 'small' screen size */
@media (max-width: 567px) {
  #forecast,
  #searchContainer {
    width: 95%;
    margin: 0 auto;
  }

  #day1,
  #day2,
  #day3,
  #day4,
  #day5,
  #day6 {
    border-radius: 0;
  }

  #day1 {
    border-top-left-radius: var(--border-radius);
  }

  #day2 {
    border-top-right-radius: var(--border-radius);
  }

  #day5 {
    border-bottom-left-radius: var(--border-radius);
  }

  #day6 {
    border-bottom-right-radius: var(--border-radius);
  }
}

/* Anything smaller than a 'extra small' screen size */
@media (max-width: 458px) {
  #location {
    font-size: 25px;
  }

  #main {
    margin: 80px auto 100px auto;
  }
}
